<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391107582389-h7j15q6lv7t6jj2k1r2s7v0tm6qoir4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391107582389-h7j15q6lv7t6jj2k1r2s7v0tm6qoir4j</string>
	<key>API_KEY</key>
	<string>AIzaSyB7IANVxpx-rnetx5fjIe278jissgrc4XQ</string>
	<key>GCM_SENDER_ID</key>
	<string>391107582389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>memo.com.DishItOut2</string>
	<key>PROJECT_ID</key>
	<string>dish-it-out</string>
	<key>STORAGE_BUCKET</key>
	<string>dish-it-out.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391107582389:ios:ea2abb58c54490855321fc</string>
	<key>DATABASE_URL</key>
	<string>https://dish-it-out-default-rtdb.firebaseio.com</string>
</dict>
</plist>